@{
    ViewData["Title"] = "Home Page";
}




    <!--bubbles-->
    <section class="sticky">
        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        
    </section>


<main class="flex-shrink-0 mt-5">
    <div class="container col-lg-8 px-4 py-5">
        <div class="row row-cols-1 row-cols-lg-2 g-5 py-5">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">LoanShark: A Coding Challenge</h1>
                <h2 class="lead">
                    An application that generates an amorization schedule for a simple interest loan.
                </h2>
                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS & Bootstrap Layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JMVC</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C#</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Controller Use</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Model Use</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Loops Written in C#</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic</li>
                </ul>
                <div>
                    <a type="button" class="btn px-4 py-2 me-lg-2" href="/home/app">Try it out</a>
                </div>
                <h5 class="fw-bold mt-3">
                    <div class="d-flex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" height="64p" width="64p" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original-wordmark.svg" height="64p" width="64p" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" height="64p" width="64p" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" height="64p" width="64p" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" height="64p" width="64p" />
                    </div>
                </h5>
            </div>
            <div class="col pt-2">
                <img src="~/img/loansharkbg.png" class="img-fluid center-block d-block mx-auto" alt="LoanShark Logo">
            </div>
        </div>
    </div>
</main>


